{% load static %}
{% block main-content %}


<ul class="folder-tree">
  <li class="folder-item" onclick="toggleFolder(this)">eob</li>
  <ul class="subfolder">
    <!--  Việt Nam  -->
    <li class="folder-item" onclick="toggleFolder(this)">Việt Nam</li>
    <ul class="subfolder">
      <!--  Revit  -->
      <li class="folder-item" onclick="toggleFolder(this)">Revit</li>
      <ul class="subfolder">
        <li class="folder-item" onclick="toggleFolder(this)">Vật liệu xây dựng</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">Mặt dựng và trần nhôm Austra Alu</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
          <li class="folder-item" onclick="toggleFolder(this)">Sơn trang trí Dulux</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2016</li>
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
            <li class="folder-item" onclick="toggleFolder(this)">2023</li>
          </ul>
          <li class="folder-item" onclick="toggleFolder(this)">Tấm cách âm cách nhiệt Phương Nam panel</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kiến trúc</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kết cấu</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">MEP</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
      </ul>
  
      <!--  Auto CAD  -->
      <li class="folder-item" onclick="toggleFolder(this)">Auto CAD</li>
      <ul class="subfolder">
        <li class="folder-item" onclick="toggleFolder(this)">Vật liệu xây dựng</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">Mặt dựng và trần nhôm Austra Alu</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
          <li class="folder-item" onclick="toggleFolder(this)">Sơn trang trí Dulux</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2016</li>
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
            <li class="folder-item" onclick="toggleFolder(this)">2023</li>
          </ul> 
          <li class="folder-item" onclick="toggleFolder(this)">Tấm cách âm cách nhiệt Phương Nam panel</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kiến trúc</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kết cấu</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">MEP</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
      </ul>
       <!--  Sketch UP  -->
      <li class="folder-item" onclick="toggleFolder(this)">Sketch UP</li>
      <ul class="subfolder">
        <li class="folder-item" onclick="toggleFolder(this)">Vật liệu xây dựng</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">Mặt dựng và trần nhôm Austra Alu</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
          <li class="folder-item" onclick="toggleFolder(this)">Sơn trang trí Dulux</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2016</li>
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
            <li class="folder-item" onclick="toggleFolder(this)">2023</li>
          </ul>
          <li class="folder-item" onclick="toggleFolder(this)">Tấm cách âm cách nhiệt Phương Nam panel</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kiến trúc</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kết cấu</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">MEP</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
      </ul>
      <!--  Tekla  -->
      <li class="folder-item" onclick="toggleFolder(this)">Tekla</li>
      <ul class="subfolder">
        <li class="folder-item" onclick="toggleFolder(this)">Vật liệu xây dựng</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">Mặt dựng và trần nhôm Austra Alu</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
          <li class="folder-item" onclick="toggleFolder(this)">Sơn trang trí Dulux</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2016</li>
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
            <li class="folder-item" onclick="toggleFolder(this)">2023</li>
          </ul>
          <li class="folder-item" onclick="toggleFolder(this)">Tấm cách âm cách nhiệt Phương Nam panel</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kiến trúc</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kết cấu</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">MEP</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
      </ul>
      <!--  Archi CAD  -->
      <li class="folder-item" onclick="toggleFolder(this)">Archi CAD</li>
      <ul class="subfolder">
        <li class="folder-item" onclick="toggleFolder(this)">Vật liệu xây dựng</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">Mặt dựng và trần nhôm Austra Alu</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
          <li class="folder-item" onclick="toggleFolder(this)">Sơn trang trí Dulux</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2016</li>
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
            <li class="folder-item" onclick="toggleFolder(this)">2023</li>
          </ul>
          <li class="folder-item" onclick="toggleFolder(this)">Tấm cách âm cách nhiệt Phương Nam panel</li>
          <ul class="subfolder">
            <li class="folder-item" onclick="toggleFolder(this)">2017</li>
            <li class="folder-item" onclick="toggleFolder(this)">2018</li>
            <li class="folder-item" onclick="toggleFolder(this)">2019</li>
            <li class="folder-item" onclick="toggleFolder(this)">2020</li>
            <li class="folder-item" onclick="toggleFolder(this)">2021</li>
            <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          </ul>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kiến trúc</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
        <li class="folder-item" onclick="toggleFolder(this)">Kết cấu</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        <li class="folder-item" onclick="toggleFolder(this)">MEP</li>
        <ul class="subfolder">
          <li class="folder-item" onclick="toggleFolder(this)">2018</li>
          <li class="folder-item" onclick="toggleFolder(this)">2019</li>
          <li class="folder-item" onclick="toggleFolder(this)">2020</li>
          <li class="folder-item" onclick="toggleFolder(this)">2021</li>
          <li class="folder-item" onclick="toggleFolder(this)">2022</li>
          <li class="folder-item" onclick="toggleFolder(this)">2023</li>
        </ul>
      </ul>
    </ul>
    </ul>
    <!--  BIM-VietNam  -->
    <li class="folder-item" onclick="toggleFolder(this)">BIM-VietNam </li>
    <ul class="subfolder">
      <!--  ISO-19650  -->
      <li class="folder-item" onclick="toggleFolder(this)">ISO-19650</li>
      <ul class="subfolder">
        <li class="folder-item" onclick="toggleFolder(this)">ISO-19650-AP01</li>
      </ul>
    </ul>
  </ul>

</ul>
{%endblock main-content%}
