{% load static %}

{% block main-content %}
  <!-- Footer -->
  <div class="row p-4 bg-dark text-white text-left">
    <div class="col-sm-4 p-2">
      <h5>CÔNG TY CỔ PHẦN ERA OF BIMB (EOB)</h5>
      <div>
        <i class="bi bi-geo-alt"></i> Tầng 4 62A Huỳnh Mẫn Đạt, Phường 19, Quận Bình Thạnh, Tp.Hồ Chí Minh, Việt Nam
      </div>
      <div>
        <i class="bi bi-envelope"></i> info.eob@gmail.com
      </div>
    </div>

    <div class="col-sm-3 p-2">
      <h5>TRUY CẬP NHANH</h5>
      <div>
        <i class="bi bi-chevron-right"></i> Trang chủ
      </div>
      <div>
        <i class="bi bi-chevron-right"></i> Tất cả thư viện
      </div>
      <div>
        <i class="bi bi-chevron-right"></i> Thư viện EOB
      </div>
      <div>
        <i class="bi bi-chevron-right"></i> Thư viện VLXD
      </div>
    </div>

    <div class="col-sm-2 p-2">
      <h5>KHÁC</h5>
      <div>
        <i class="bi bi-chevron-right"></i> Hoạt động
      </div>
      <div>
        <i class="bi bi-chevron-right"></i> Khóa học
      </div>
    </div>

    <div class="col-sm-3 p-2">
      <div>THEO DÕI CHÚNG TÔI</div>
      <div class="row">
        <button class="col">
          <i class="bi bi-twitter" viewbox="0 0 16 16"></i>
        </button>
        <button class="col">
          <i class="bi bi-facebook" viewbox="0 0 16 16"></i>
        </button>
        <button class="col">
          <i class="bi bi-linkedin" viewbox="0 0 16 16"></i>
        </button>
        <button class="col">
          <i class="bi bi-instagram" viewbox="0 0 16 16"></i>
        </button>
      </div>
    </div>

    <div class="container">
      <div class="row mt-4 border-top mx-xl-5 py-4">
        © Eob.vn. All Rights Reserved.
      </div>
    </div>
  </div>
{% endblock main-content %}
