{% load static %}

{% block main-content %}
<!-- Navigation -->
<nav class="sticky-nav" style="border: 1px solid black;">
  <div class="row bg-dark text-white align-items-center" style="display: flex; justify-content: space-between; font-size: 14px; padding-left: 30px;">
    <div class="res_remove col-sm-1 p-1">
    <a href = "/EOB" style="color:white;" > Công trình tiêu biểu </a>
    </div>
    <div class="res_remove col-sm-1 p-2">
        <a href = "/EOB" style="color:white;" > Tin Tức </a>    
    </div>
    <div class="black_nav col-sm-1 p-1" style="margin-left: auto;">
        <a href = "/EOB/Member" style="color:white;" > Đăng Ký Thành Viên </a>    
    </div>
    <div class="black_nav col-sm-1 p-2">
        <a href = "/EOB/VLXD" style="color:white;" > VLXD Đăng Ký </a> 
    </div>
    <div class="black_nav col-sm-1 p-2">
        <a href = "/EOB/Login" style="color:white;" >  Đăng Nhập </a> 
    </div>
    <div class="black_nav col-sm-1 p-2 dropdown">
        <button type="button" class="btn dropdown-toggle bg-dark text-white w-100">
            <img class="img-fluid" src= "{% static 'Resources/Vie.png'  %}" alt="Viet flag"> Vi
        </button>
    </div>
  </div>


  <div class="row bg-white text-dark align-items-center" style="display: flex; justify-content: space-between;">
    <div class="white_nav col-sm-1 p-4"> 
        <img src="{% static 'Resources/Logo.png' %}" alt="Logo" width="120" height="60"> 
    </div>
    
    <div class="lib_model res_remove col-sm-2 p-4 dropdown" style="text-align: right">
        <a class="dropdown-toggle text-dark" style="text-decoration: none;" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <b>THƯ VIỆN MODEL</b>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="">Tất cả thư viện</a></li>
            <li><a class="dropdown-item" href="">Thư viện EOB</a></li>
            <li><a class="dropdown-item" href="">Thư viện VLXD</a></li>
        </ul>
    </div>

    <form class="white_nav col-sm-3 p-4" style="margin-left: auto;">
        <input class="form-control me-2" type="text" placeholder="Tìm kiếm" style="border-radius: 25px; border: 2px solid lightgray;">
    </form>
  </div>

</nav>
{% endblock main-content %}