{% extends 'Base.html' %}
{% load static %}

{% block main-content %}

    <div class="row d-flex">
        <div class="row my-5">
            <div class="col-md-10 col-lg-6 col-xl-5">  
                <div class="h5 fw-bold mx-1 mx-md-4 mt-4">
                    <a href="/EOB/" style="color:black;">Trang chủ / </a>
                    <a href="/EOB/Library" style="color:black;"> Tất cả Family</a>
                </div>
            
                <div class="d-flex flex-row align-items-center mb-4">
                    <div class="input-group p-3" style="max-width: 350px;">
                        <input class="form-control" type="text" placeholder="Tìm kiếm" 
                               style="border-radius: 25px 0 0 25px; border: 2px solid lightgray;">
                        <span class="input-group-text" 
                              style="border-radius: 0 25px 25px 0; border: 2px solid lightgray;">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                </div>
            
                <!-- Border wrapper around the included template with adjusted padding and alignment -->
                <div style="border: 1px solid #333; padding: 10px; border-radius: 5px; width: 95%; margin: 0 auto;">
                    {% include "Folder.html" %} 
                </div>
            </div>
            
            
            <div class="col-md-10 col-lg-6 col-xl-7">
                <h2>MODEL MỚI</h2>
                <p>Các model gần đây nhất <i class="bi bi-chevron-right"></i> </p> 
                <div class="owl-stage d-flex justify-content-between" style="background-color: #f0f0f0;">
                    <img src="{% static 'Resources/Dulux.png' %}" alt="Dulux" width="110" height="40">
                    <img src="{% static 'Resources/Austra.png' %}" alt="Austraalu" width="110" height="40">
                    <img src="{% static 'Resources/PNP.png' %}" alt="Phương Nam Panel" width="110" height="40">
                    <img src="{% static 'Resources/Dulux.png' %}" alt="Dulux" width="110" height="40">
                </div>
            </div>
        </div>
    </div>

{% endblock main-content %}
