{% extends 'Base.html' %}
{% load static %}

{% block main-content %}

<section style="background-color: #eee;">
    <div class="container h-100" style="padding-bottom:50px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-7 col-xl-6">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">

                        <div class="d-flex justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 d-flex flex-column align-items-center">
                                <img src="{% static 'Resources/Logo.png' %}" class="img-fluid" alt="Logo" style="width: 50%;">
                                <p class="text-center h4 fw-bold mb-5 mx-1 mx-md-4 mt-4">ĐĂNG NHẬP</p>
                            </div>
                        </div>

                        <form class="mx-1 mx-md-4" method="POST" action="">
                            {% csrf_token %}

                            <div class="fw-bold d-flex flex-row justify-content-center mb-4">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            {% load socialaccount %}
                            <div class="d-flex flex-row mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0" style="text-align: center; border: 1px solid #ced4da; padding: 10px; border-radius: .25rem; color: #6c757d;">
                                    <img class="img-fluid" src="{% static 'Resources/GG.png' %}" width="5%" height="5%" alt="Google logo" style="margin-right:20px;">
                                    <a href="{% provider_login_url 'google' %}?next=/&prompt=consent" name="google" style="color:black;">
                                        Đăng nhập bằng Google
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex flex-row mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0" style="text-align: center; border: 1px solid #ced4da; padding: 10px; border-radius: .25rem; color: #6c757d;">
                                    <img class="img-fluid" src="{% static 'Resources/FB.png' %}" width="5%" height="5%" alt="Facebook logo" style="margin-right:20px;">
                                    <a href="{% provider_login_url 'facebook' %}?next=/" name="facebook" style="color:black;">
                                        Đăng nhập bằng Facebook
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex flex-row mb-4">
                              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                  <input type="text" id="login_uname" placeholder="Tên đăng nhập" class="form-control" name="uname" />
                              </div>
                            </div>

                            <div class="d-flex flex-row mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0 position-relative">
                                    <input type="password" id="login_pass" placeholder="Mật khẩu" class="form-control" name="pass" />
                                    <!-- Toggle icon -->
                                    <i class="bi bi-eye absolute" id="togglePassword" style=" top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
                                </div> 
                            </div>

                            <div class="form-check d-flex justify-content-between mb-5">
                                <div class="d-flex align-items-center">
                                    <input class="form-check-input" style="border-width: 2px; border-color: black; margin-right: 5px;" type="checkbox" value="True" id="form2Example3c" name="checkbox">
                                    <label class="form-check-label" for="form2Example3c">
                                        <span class="checkbox-custom"></span> Nhớ mật khẩu
                                    </label>
                                </div>

                                <label class="form-check-label" for="form2Example3c">
                                    <a href="{% url 'password_reset' %}" style="color: black;">Quên mật khẩu</a>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="submit" class="btn btn-primary btn-lg">Đăng nhập</button>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <a href="/EOB/VLXD" style="color: #6c757d;">Đăng ký</a>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // JavaScript for toggling password visibility
    const togglePassword = document.querySelector('#togglePassword');
    const passwordInput = document.querySelector('#login_pass');

    togglePassword.addEventListener('click', function () {
        // Toggle the type attribute
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        // Toggle the eye icon
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
    });
</script>

{% endblock main-content %}
