{% extends 'base.html'%}
{% load static %}


{% block main-content %}
<section style="background-color: #eee;">
 <div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
   <div class="col-lg-12 col-xl-11 my-5">
    <div class="card text-black" style="border-radius: 25px;">
     <div class="card-body p-md-5">
      <div class="row justify-content-between px-2">
       <div class="col-md-10 col-lg-6 col-xl-5 order-1 order-lg-2">
        <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">
         ĐĂNG KÝ THÀNH VIÊN EOB
        </p>
        <div class="text-center fw-bold">
         {% if messages %}
                              {% for message in messages %}
         <div class="alert alert-danger" role="alert">
          {{ message }}
         </div>
         {% endfor %}
                            {% endif %}
        </div>
        <form action="" class="mx-1 mx-md-4" method="POST">
         {% csrf_token %}
         <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-user fa-lg me-3 fa-fw">
          </i>
          <div class="form-outline flex-fill mb-0 d-flex">
           <div class="me-3">
            <input checked="" id="individual" name="member_type" onclick="showIndividual()" type="radio" value="individual"/>
            <label for="individual">
             Cá nhân
            </label>
           </div>
           <div>
            <input id="organization" name="member_type" onclick="showOrganization()" type="radio" value="organization"/>
            <label for="organization">
             Tổ chức
            </label>
           </div>
          </div>
         </div>
         <!-- Individual  -->
         <div id="individual-fields">
          <div class="d-flex flex-row align-items-center mb-4">
           <i class="fas fa-user fa-lg me-3 fa-fw">
           </i>
           <div class="form-outline flex-fill mb-0">
            <input class="form-control" id="login_form" name="uname" placeholder="Họ và tên" type="text">
          
           </div>
          </div>
         </div>
         <!-- Organization  -->
         <div id="organization-fields" style="display: none;">
          <div class="d-flex flex-row align-items-center mb-4">
           <i class="fas fa-user fa-lg me-3 fa-fw">
           </i>
           <div class="form-outline flex-fill mb-0">
            <input class="form-control" id="login_form" name="c_name" placeholder="Tên công ty/ Tổ chức" type="text"> 
           </div>
          </div>
          <div class="d-flex flex-row align-items-center mb-4">
           <i class="fas fa-user fa-lg me-3 fa-fw">
           </i>
           <div class="form-outline flex-fill mb-0">
            <input class="form-control" id="login_form" name="tax" placeholder="Mã số thuế" type="text"/>
           </div>
          </div>
         </div>
         <!-- Continuation of form  -->
         <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-envelope fa-lg me-3 fa-fw">
          </i>
          <div class="form-outline flex-fill mb-0">
           <input class="form-control" id="login_form" name="phone" placeholder="Điện thoại *" type="text"/>
          </div>
         </div>
         <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw">
          </i>
          <div class="form-outline flex-fill mb-0">
           <input class="form-control" id="login_form" name="email" placeholder="Email" type="text"/>
          </div>
         </div>
         <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-key fa-lg me-3 fa-fw">
          </i>
          <div class="form-outline flex-fill mb-0">
           <input class="form-control" id="login_form" name="pass" placeholder="Mật khẩu" type="password"/>
          </div>
         </div>
         <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-key fa-lg me-3 fa-fw">
          </i>
          <div class="form-outline flex-fill mb-0">
           <input class="form-control" id="login_form" name="rpass" placeholder="Xác nhận mật khẩu" type="password"/>
          </div>
         </div>
         <!-- JavaScript to toggle visibility -->
         <script>
          function showIndividual() {
                                    document.getElementById('individual-fields').style.display = 'block';
                                    document.getElementById('organization-fields').style.display = 'none';
                                }
                        
                                function showOrganization() {
                                    document.getElementById('individual-fields').style.display = 'none';
                                    document.getElementById('organization-fields').style.display = 'block';
                                }
         </script>
         <div class="form-check d-flex justify-content-center mb-5">
          <input class="form-check-input" id="form2Example3c" name="checkbox" style="border-width: 2px; border-color: black; margin-right: 5px;" type="checkbox" value="True"/>
          <label class="form-check-label" for="form2Example3c">
           <span class="checkbox-custom">
           </span>
           Đồng ý tất cả điểu khoản trong điều khoản sử dụng
          </label>
         </div>
         <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
          <button class="btn btn-primary btn-lg" type="submit">
           Đăng Ký
          </button>
         </div>
        </form>
       </div>
       <div class="col-md-10 col-lg-5 col-xl-6 order-1 order-lg-2">
        <div class="row pt-4">
         <img alt="Logo" class="img-fluid" src="{% static 'Resources/Logo.png' %}" style="width:35%;"/>
        </div>
        <div class="row pt-4">
         <h5>
          Đăng ký thành viên EOB
         </h5>
         <p>
          để bắt đầu trao đổi family thiết kế và 
                                 kiến thức kiến trúc – xây dựng.
         </p>
        </div>
        <div class="row pt-4">
         <h6>
          Quyền lợi thành viên Star:
         </h6>
         <li>
          Tải và không giới hạn các family thiết kế chất lượng
         </li>
         <li>
          Xem các bài viết chuyên ngành của các chuyên gia hàng đầu
         </li>
         <li>
          Tham gia các hoạt động chuyên môn và giao lưu với các đơn vị VLXD
         </li>
         <li>
          Tham gia chương trình tích điểm thành viên
         </li>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<script async="" defer="" src=""></script>

{% endblock main-content %}
