{% extends 'Base.html'%}
{% load static %}


{% block main-content %}


<div class="row res_comp" style="background-color:#f0f0f0;">
    <div class="vertical-carousel-container">
        <div class="vertical-owl-carousel owl-theme">
            <div class="item">
                <div class="d-flex flex-column align-items-center">
                    <a href="https://www.dulux.vn/">
                        <img src="{% static 'Resources/Dulux.png' %}" alt="Dulux" width="110" height="40">
                    </a>
                    <a href="https://hiepthuyceramics.vn/">
                        <img src="{% static 'Resources/Hiepthuy.png' %}" alt="Hiepthuy" width="110" height="40">
                    </a>
                    <a href="https://ancuong.com/">
                        <img src="{% static 'Resources/Ancuong.png' %}" alt="Ancuong" width="110" height="40">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="d-flex flex-column align-items-center">
                    <a href="https://phuongnampanel.com/">
                        <img src="{% static 'Resources/PNP.png' %}" alt="PNP" width="110" height="40">
                    </a>
                    <a href="https://eurowindowmiennam.vn/">
                        <img src="{% static 'Resources/Euro.png' %}" alt="Euro" width="110" height="40">
                    </a>
                    <a href="https://sieuthanhvietnam.vn/">
                        <img src="{% static 'Resources/Sieuthanh.png' %}" alt="Sieuthanh" width="110" height="40">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="d-flex flex-column align-items-center">
                    <a href="https://australu.com/">
                        <img src="{% static 'Resources/Austra.png' %}" alt="Austraalu" width="110" height="40">
                    </a>
                    <a href="https://www.saint-gobain.com.vn/">
                        <img src="{% static 'Resources/Saint.png' %}" alt="Saint" width="110" height="40">
                    </a>
                    <a href="https://www.inax.com.vn/vi/">
                        <img src="{% static 'Resources/Inax.png' %}" alt="Inax" width="110" height="40">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



{%endblock main-content%}